
h1 {
    margin: 0;
}

.equipes p {
    margin: 0;
}

.divider {
    margin-bottom: 60px;
}

.matchs h3, h4 {
    padding-top: 50px;
}

.matchs .match {
    border: solid black 1px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 10px;
    margin-left: 2px;
}

.match p {
    margin: 0px;

}

.match .match-date {
    width: 50%;
    float: right;
    text-align: center;
    height: 30px;
}

.match .match-sport {
    width: 50%;
    float: left;
    text-align: center;
    height: 30px;
}

.match table td {
    text-align: center;
    width: 33%;
}

.cote-date {
    font-weight: 800;
    font-size: 20px;
}

.match-infos .match-info {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.match-infos .match-sport {
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    width: 300px;
    font-width: 700;
    font-size: 25px;
    border: solid black 2px;
    border-radius: 8px;
}

.match-infos .match-equipes {
    margin-top: 20px;
    font-width: 700;
    font-size: 35px;
}

.match-infos .match-id {
    margin-bottom: 20px;
    font-size: 11px;
}

.match-infos .match-date {
    margin-bottom: 40px;
    font-width: 500;
    font-size: 25px;
}


.table-cotes td {
    padding: 0px;
    text-align: center;
}

.table-cotes table {
    border-left: solid #D0D0D0 1px;
    border-right: solid #D0D0D0 1px;
}

.table-cotes thead tr td {
    text-align: center;
}

.table-cotes table td {
    border-top: solid #D0D0D0 1px;
    border-bottom: solid #D0D0D0 1px;
    padding: 0px;
    text-align: center;
}


.card-style {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
}

.card-style {
    cursor: pointer;
}

.bold {
    font-weight: 900;
}

table.match-cotes td, th {
    text-align: center;
}




